<article class="container">
  <%= header title: @about.title, links: @links %>
  
  <main">
    <section class="row">
      <section class="col">
        <p>
          <%= @about.body %>
        </p>
      </section>
      <section class="col">
        <%= image_tag Faker::Placeholdit.image(size: '300x300', format: 'gif'), class: "img-thumbnail" %>
      </section>
    </section>
  </main>
</article>
